/*positioning*/
/*display & box model*/
/*other*/
body {
  display: flex;
  border: 10px solid gray;
  font-family: 'Oswald', sans-serif;
  flex-wrap: wrap;
}

.pictures {
  width: 100%;
  height: 500px;
  background-image: url('images/tycho-hero-image.jpeg');
  background-position: center;
  background-size: cover;;
  position: relative;;
}

.pictures img {
  width: 50px;
}

.left-arrow {
  position:absolute;
  bottom: 225px;
  left: 10px;
}

.right-arrow {
  position:absolute;
  bottom: 225px;
  right: 10px;
}

.img-progression{
  position: absolute;
  right: 30px;
  top: 20px;

}

.nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.box {
  display: flex;
  width: 50%;
  min-height: 200px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box img {
  height: 75px;
  margin: 10px auto;
  display: block;
}



.title {
  width: 100%;
  font-size: 15px;
  background-color: #F71735;
  justify-content: flex-start;;
  align-items: center;;
  flex-direction: column;
}

.title p{
  margin: 5px 5px;
}

.tycho-title{
  font-size: 30px;
  font-weight: 700;

}

.title button {
  background:none;
  border:2px solid white;
  margin: 10px 10px;
  padding: 10px 30px;
  color: #ffffff;
}


.store {
  background-color: #41EAD4;
  justify-content: center;
  align-items: center;
}

.social {
  background-color: #FDFFFC;
}

.spotify {
  background-color: #FF9F1C;
}

.blog{
  background-color: #F71735;
}

.app {
  background-color: #41EAD4;
}

.contact {
 background-color: #FDFFFC;
}

.music {
  background-color: #FF9F1C;
}



@media screen and (min-width: 600px) {
  .box {

  }

  .title {

  }
}

@media screen and (min-width: 800px) {

  body {
    flex-direction: row-reverse;
  }

  .pictures {
    width: 40%;
    height: 100vh;
  }

  .nav {
    width: 60%;
    height: 100vh;
  }


  .box {
    width: 33%;
    height: 33%;
  }

  .title {
    width: 66%;
  }

  .left-arrow {
    bottom: 300px;
    left: 10px;
  }

  .right-arrow {
    bottom: 300px;
    right: 10px;
  }
}
