/* base */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  border: 10px solid gray;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

/* typography */
h2 {
  line-height: 2;
  font-size: 30px;
  font-weight: 700;
}

p {
  line-height: 1.2;
}

.pictures {
  position: relative;;
  flex-basis: 30%;
  background: url('images/tycho-hero-image.jpeg') no-repeat center;
  background-size: cover;;
}

.pictures img {
  width: 50px;
}

.arrow {
  position: absolute;
  bottom: 50%;
}

.arrow.left {
  left: 10px;
}

.right.arrow {
  right: 10px;
}

.img-progression {
  position: absolute;
  right: 30px;
  top: 20px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  flex: 1 1 50%;
}

.box img {
  height: 75px;
  margin: 10px auto;
  display: block;
}

.title-box {
  flex-grow: 3;
  padding: 20px;
  background-color: #F71735;
}

.button-container {
  margin-top: 20px;
}

.button-container button {
  background: none;
  border: 2px solid white;
  padding: 10px 30px;
  color: #ffffff;
}

.button-container button:first-child {
  margin-right: 15px;
}

.store {
  background-color: #41EAD4;
  justify-content: center;
  align-items: center;
}

.social {
  background-color: #FDFFFC;
}

.spotify {
  background-color: #FF9F1C;
}

.blog{
  background-color: #F71735;
}

.app {
  background-color: #41EAD4;
}

.contact {
 background-color: #FDFFFC;
}

.music {
  background-color: #FF9F1C;
}


@media screen and (min-width: 900px) {
  body {
    flex-direction: row-reverse;
  }
  .pictures {
    flex-basis: 100%
  }
}


@media screen and (min-width: 1300px) {
  .title-box {
    flex-basis: 60%;
  }
  .box {
    flex-basis: 33.3333%;
  }
}
